# Environment Variables

# Node
NODE_ENV=development

# Pedido Service
PORT=8001

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=distroviz
POSTGRES_USER=distroviz_user
POSTGRES_PASSWORD=secretpassword

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Frontend
VITE_API_URL=http://localhost:8000