POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=distroviz
POSTGRES_USER=distroviz_user
POSTGRES_PASSWORD=supersecret

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

JWT_SECRET=myjwtsecret

AUTH_SERVICE_PORT=8001
ORDER_SERVICE_PORT=8002
PLANT_SERVICE_PORT=8003
DISTRIBUTION_SERVICE_PORT=8004
ORDER_WORKER_PORT=8005

KONG_ADMIN_URL=http://kong:8001
KONG_PROXY_URL=http://kong:8000

FRONTEND_PORT=3000
REACT_APP_API_URL=http://localhost:8000