POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=distroviz
POSTGRES_USER=distroviz
POSTGRES_PASSWORD=secretpassword

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

API_PORT=8001
FRONTEND_PORT=3000

VITE_API_URL=http://localhost:8001
